Repository Tarakann119/noLabel-game: changes, and which lefthook commands are due for each by the changed paths.
All: lint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{ts,tsx}'
      run: yarn eslint {staged_files} && git add {staged_files}
    stylelint:
      glob: '*.{css,scss}'
      run: yarn stylelint {staged_files} && git add {staged_files}

fix
  packages/client/package.json
Due: none

chore: Добавлено форматирование в pre-commit
  lefthook.yml
  package.json
  packages/client/package.json
Due: none

feat: Добавлена базовая логика и компонент игры
  packages/client/public/game/.keep
  packages/client/public/game/assets/.keep
  packages/client/public/game/assets/enemies/goblin/sprite.png
  packages/client/public/game/assets/enemies/hobgoblin/sprite.png
  packages/client/public/game/assets/enemies/orc/sprite.png
  packages/client/public/game/assets/menu/background.png
  packages/client/public/game/assets/resources/coin.png
  packages/client/public/game/assets/resources/heart.png
  packages/client/public/game/assets/resources/points.png
  packages/client/public/game/assets/towers/archer/projectile/sprite.png
  packages/client/public/game/assets/towers/archer/sprite.png
  packages/client/public/game/assets/towers/stone/projectile/sprite.png
  packages/client/public/game/assets/towers/stone/sprite.png
  packages/client/public/game/maps/.keep
  packages/client/public/game/maps/map1/.keep
  packages/client/public/game/maps/map1/background.png
  packages/client/public/game/maps/map1/settings.ts
  packages/client/src/Layout.tsx
  packages/client/src/components/Canvas/index.tsx
  packages/client/src/game/Game.ts
  packages/client/src/pages/Game/inde.tsx
  packages/client/src/pages/Game/index.tsx
  packages/client/typings/app.typings.ts
Due: lint

feat: Добавлены плитки размещения башен
  packages/client/src/game/Game.ts
  packages/client/src/game/PlacementTile.ts
Due: lint

feat: Добавлена установка башен
  packages/client/src/game/Bulding.ts
  packages/client/src/game/Game.ts
  packages/client/src/game/Sprite.ts
  packages/client/src/game/settings/buldings.ts
Due: lint

game
  packages/client/src/App.tsx
  packages/client/src/canvas/Canvas.tsx
  packages/client/src/canvas/classes/classes.ts
  packages/client/src/canvas/data/lvl_1.ts
  packages/client/src/canvas/data/placementTilesData.ts
  packages/client/src/canvas/data/waypoints.ts
  packages/client/src/canvas/images/enemy/orc.png
  packages/client/src/canvas/images/enemy/orc_2.png
  packages/client/src/canvas/images/game-over.png
  packages/client/src/canvas/images/map/map_1.png
  packages/client/src/canvas/images/towers/tower.png
  packages/client/src/canvas/images/youWin.png
  packages/client/src/canvas/styles.css
Due: lint, stylelint

добавлено волны врагов
  packages/client/src/game/Enemy.ts
  packages/client/src/game/Game.ts
  packages/client/src/game/settings/enemies.ts
  yarn.lock
Due: lint

добавлено стрельба
  packages/client/src/game/Bulding.ts
  packages/client/src/game/Game.ts
  packages/client/src/game/Projectile.ts
Due: lint

добавлены ресурсы
  packages/client/src/game/Bulding.ts
  packages/client/src/game/Game.ts
  packages/client/src/game/Resources.ts
Due: lint

добавлен конец игры
  packages/client/src/game/Enemy.ts
  packages/client/src/game/Game.ts
  packages/client/src/game/Menu.ts
Due: lint

some updates
  packages/client/src/Layout.tsx
  packages/client/src/pages/Game/inde.tsx
  yarn.lock
Due: lint

добавлены новые спрайты для врагов, пофикшены волны, теперь на карте появляется только одна волна. расстояние между первым и вторым врагом пофикшен. немного изменены настройки карты
  packages/client/public/game/assets/enemies/orc/sprite.png
  packages/client/public/game/assets/enemies/orc/sprite1.png
  packages/client/public/game/maps/map1/settings.ts
  packages/client/src/game/Bulding.ts
  packages/client/src/game/Game.ts
  packages/client/src/game/settings/enemies.ts
  packages/client/typings/app.typings.ts
Due: lint

Добавлен header, footer, выполнена разметка некоторых страниц.
  packages/client/src/App.css
  packages/client/src/App.tsx
  packages/client/src/Layout.tsx
  packages/client/src/assets/fonts/Cormorant-Bold.woff
  packages/client/src/assets/fonts/Cormorant-Bold.woff2
  packages/client/src/assets/fonts/Cormorant-Regular.woff
  packages/client/src/assets/fonts/Cormorant-Regular.woff2
  packages/client/src/assets/fonts/Cormorant-SemiBold.woff
  packages/client/src/assets/fonts/Cormorant-SemiBold.woff2
  packages/client/src/assets/fonts/Romvel.ttf
  packages/client/src/assets/fonts/Romvel.woff2
  packages/client/src/assets/img/Close.png
  packages/client/src/assets/img/Logo_header.png
  packages/client/src/assets/img/NoLabel Copyright © 2023.png
  packages/client/src/assets/img/metall-texture.png
  packages/client/src/assets/styles/App.scss
  packages/client/src/assets/styles/_avatar.scss
  packages/client/src/assets/styles/_customButton.scss
  packages/client/src/assets/styles/_customLink.scss
  packages/client/src/assets/styles/_varThemeDefault.scss
  packages/client/src/components/Footer/index.scss
  packages/client/src/components/Footer/index.tsx
  packages/client/src/components/Header/index.scss
  packages/client/src/components/Header/index.tsx
  packages/client/src/components/InputWrapper/index.scss
  packages/client/src/components/InputWrapper/index.tsx
  packages/client/src/components/footer/index.scss
  packages/client/src/components/footer/index.tsx
  packages/client/src/game/Game.ts
  packages/client/src/main.tsx
  packages/client/src/pages/LoginPage/index.scss
  packages/client/src/pages/LoginPage/index.tsx
  packages/client/src/pages/Profile/ChangeAvatar.tsx
  packages/client/src/pages/RatingPage/index.tsx
  packages/client/src/pages/RegisterPage/index.tsx
  packages/client/src/pages/StartScreen/index.tsx
Due: lint, stylelint

feat: Добавляет игровые очки в store
  packages/client/src/Store/store.ts
  packages/client/src/components/Canvas/index.tsx
  packages/client/src/components/Canvas/slice.ts
  packages/client/src/game/Game.ts
  packages/client/src/pages/RatingPage/index.tsx
  packages/client/typings/app.typings.ts
Due: lint

refactor: Удалён console.log
  packages/client/src/components/Canvas/index.tsx
Due: lint

Установлен пакет vite-plugin-fonts, шрифты не подключаются, выполнено форматирование файлов в проекте.
  packages/client/package.json
  packages/client/src/assets/fonts/StalinistOne-Regular.ttf
  packages/client/src/assets/styles/_varThemeDefault.scss
  packages/client/src/components/ValidateErrorMessage/index.scss
  packages/client/src/components/ValidateErrorMessage/index.tsx
  packages/client/src/index.css
  packages/client/src/main.tsx
  packages/client/src/pages/LoginPage/index.tsx
  packages/client/src/ui/ButtonClose/index.scss
  packages/client/src/ui/ButtonClose/index.tsx
  packages/client/vite.config.ts
  yarn.lock
Due: lint, stylelint

Добавлен Loader
  packages/client/src/ui/Loader/img/Loader.png
  packages/client/src/ui/Loader/index.scss
  packages/client/src/ui/Loader/index.tsx
Due: lint, stylelint

Добавлена страница DevPage, можно использовать для отладки компонентов.
  packages/client/src/Layout.tsx
  packages/client/src/pages/DevPage/index.tsx
Due: lint

Решена проблема с шрифтами, выполнено форматирование.
  .gitattributes
  .stylelintrc.js
  packages/client/src/assets/fonts/American TextC.ttf
  packages/client/src/assets/fonts/Romvel.ttf
  packages/client/src/assets/fonts/StalinistOne-Regular.ttf
  packages/client/src/assets/img/metall-texture.jpg
  packages/client/src/assets/styles/App.scss
  packages/client/src/assets/styles/_varThemeDefault.scss
  packages/client/src/components/Theme/index.module.scss
  packages/client/src/components/Theme/index.tsx
  packages/client/src/index.css
  packages/client/src/pages/Profile/index.tsx
  packages/client/vite.config.ts
Due: lint, stylelint

Исправлены волны, добавлен новый спрайт врагов
  packages/client/public/game/assets/enemies/orc-warrior/sprite.png
  packages/client/public/game/assets/enemies/orc/sprite.png
  packages/client/public/game/assets/enemies/orc/sprite1.png
  packages/client/public/game/maps/map1/settings.ts
  packages/client/src/game/Game.ts
  packages/client/src/game/settings/enemies.ts
  packages/client/typings/app.typings.ts
Due: lint

add hooks,redux,improve vaidation & privet routes
  lefthook.yml
  packages/client/index.html
  packages/client/src/App.tsx
  packages/client/src/Layout.tsx
  packages/client/src/Store/store.ts
  packages/client/src/components/Autification/slice.ts
  packages/client/src/components/Header/index.tsx
  packages/client/src/components/Input/index.scss
  packages/client/src/components/LoaderComponent/index.tsx
  packages/client/src/components/Theme/slice.ts
  packages/client/src/pages/Forum/ForumTheme.tsx
  packages/client/src/pages/Forum/index.tsx
  packages/client/src/pages/LoginPage/index.tsx
  packages/client/src/pages/Profile/ChangeAvatar.tsx
  packages/client/src/pages/Profile/ChangePassword.tsx
  packages/client/src/pages/Profile/ChangeProfile.tsx
  packages/client/src/pages/Profile/index.tsx
  packages/client/src/pages/RegisterPage/index.tsx
  packages/client/src/pages/StartScreen/index.tsx
  packages/client/src/ui/Loader/img/Loader.png
  packages/client/src/ui/Loader/index.scss
  packages/client/src/ui/Loader/index.tsx
  packages/client/typings/app.typings.ts
  packages/client/utils/hooks/reduxHooks.ts
  packages/client/utils/hooks/useAuth.ts
Due: lint, stylelint

Работа над стилями
  packages/client/src/assets/fonts/American TextC.ttf
  packages/client/src/assets/fonts/Romvel.ttf
  packages/client/src/assets/fonts/Romvel.woff2
  packages/client/src/assets/fonts/RomvelCyr.eot
  packages/client/src/assets/fonts/RomvelCyr.ttf
  packages/client/src/assets/fonts/RomvelCyr.woff
  packages/client/src/assets/fonts/RomvelCyr.woff2
  packages/client/src/assets/img/background/index.tsx
  packages/client/src/assets/img/background/knight.jpg
  packages/client/src/assets/styles/App.scss
  packages/client/src/assets/styles/_varThemeDefault.scss
  packages/client/src/components/Header/index.tsx
  packages/client/src/components/InputWrapper/index.scss
  packages/client/src/components/InputWrapper/index.tsx
  packages/client/src/components/Theme/index.tsx
  packages/client/src/pages/DevPage/index.tsx
  packages/client/src/pages/LoginPage/index.scss
  packages/client/src/pages/LoginPage/index.tsx
  packages/client/src/ui/ButtonImg/img/Close.png
  packages/client/src/ui/ButtonImg/index.scss
  packages/client/src/ui/ButtonImg/index.tsx
  packages/client/src/ui/HeaderH1/index.scss
  packages/client/src/ui/HeaderH1/index.tsx
  packages/client/vite.config.ts
Due: lint, stylelint

fix: Исправлена опечатка в скрипте
  package.json
Due: none

lint: Добавлен паттерн для клаcсов стилей
  packages/client/.stylelintrc.cjs
Due: none

Установлен пакет vite-plugin-fonts, шрифты не подключаются, выполнено форматирование файлов в проекте.
  packages/client/src/Layout.tsx
  packages/client/src/Store/store.ts
  packages/client/src/assets/img/background/helmet.png
  packages/client/src/assets/styles/App.scss
  packages/client/src/assets/styles/_customLink.scss
  packages/client/src/assets/styles/_link.scss
  packages/client/src/assets/styles/_varThemeDefault.scss
  packages/client/src/components/Autification/slice.ts
  packages/client/src/components/Canvas/index.tsx
  packages/client/src/components/Canvas/slice.ts
  packages/client/src/components/Theme/index.scss
  packages/client/src/components/Theme/index.tsx
  packages/client/src/components/Theme/slice.ts
  packages/client/src/components/Title/index.scss
  packages/client/src/pages/ErrorPages/404.tsx
  packages/client/src/pages/ErrorPages/500.tsx
  packages/client/src/pages/ErrorPages/index.scss
  packages/client/src/pages/Forum/ForumTheme.tsx
  packages/client/src/pages/Forum/index.scss
  packages/client/src/pages/Forum/index.tsx
  packages/client/src/pages/Profile/index.scss
  packages/client/src/pages/Profile/index.tsx
Due: lint, stylelint

Работа над стилями, добавлена карточка юзера в хедере
  lefthook.yml
  packages/client/.stylelintrc.js
  packages/client/src/assets/icons/logout.png
  packages/client/src/assets/icons/logout.svg
  packages/client/src/assets/styles/_avatar.scss
  packages/client/src/components/Avatar/index.tsx
  packages/client/src/components/Header/index.tsx
  packages/client/src/components/UserCard/index.scss
  packages/client/src/components/UserCard/index.tsx
  packages/client/src/pages/DevPage/index.tsx
  packages/client/src/pages/Profile/index.scss
  packages/client/src/pages/Profile/index.tsx
  packages/client/src/ui/ButtonImg/img/logout.svg
  packages/client/src/ui/ButtonImg/index.scss
  packages/client/src/ui/ButtonImg/index.tsx
Due: lint, stylelint

форматирование файлов проекта
  .gitattributes
  README.md
  lefthook.yml
  packages/client/.stylelintrc.сjs
  packages/client/package.json
  packages/client/src/components/Avatar/index.tsx
  packages/client/src/components/UserCard/index.scss
  packages/client/src/components/UserCard/index.tsx
  packages/client/src/pages/DevPage/index.tsx
  packages/client/src/ui/ButtonImg/index.scss
  yarn.lock
Due: lint, stylelint

добавлен рейтинг игроков на стартовую страницу
  packages/client/src/assets/styles/App.scss
  packages/client/src/components/Leaderboard/index.scss
  packages/client/src/components/Leaderboard/index.tsx
  packages/client/src/components/Leaderboard/leaderboardList.ts
  packages/client/src/components/Leaderboard/leaderboardListMok.ts
  packages/client/src/pages/DevPage/index.tsx
  packages/client/src/pages/StartScreen/index.tsx
Due: lint, stylelint

добавлены компоненты авторизации
  packages/client/index.html
  packages/client/src/App.tsx
  packages/client/src/Layout.tsx
  packages/client/typings/app.typings.ts
  packages/client/utils/hooks/reduxHooks.ts
  packages/client/utils/hooks/userAuth.ts
Due: lint

Удалён лишний файл конфига линтера, исправлена опечатка в README.md
  .stylelintrc.js
  README.md
Due: none

fix: Добавлена в исключения папка dist
  package.json
  packages/server/tsconfig.prod.json
Due: none

Добавлен popUp для ошибки валидации
  packages/client/src/components/Button/index.scss
  packages/client/src/components/Leaderboard/LeaderboardView/index.scss
  packages/client/src/components/Leaderboard/index.tsx
  packages/client/src/components/ValidateErrorMessage/index.scss
  packages/client/src/components/ValidateErrorMessage/index.tsx
  packages/client/src/pages/DevPage/index.tsx
  packages/client/src/pages/LoginPage/index.tsx
Due: lint, stylelint

Работа над стилями, добавлена карточка юзера в хедере
  .gitattributes
  README.md
  packages/client/.stylelintrc.сjs
  packages/client/package.json
  packages/client/src/assets/icons/logout.png
  packages/client/src/assets/icons/logout.svg
  packages/client/src/assets/styles/_avatar.scss
  packages/client/src/components/Avatar/index.tsx
  packages/client/src/components/Header/index.tsx
  packages/client/src/components/UserCard/index.scss
  packages/client/src/components/UserCard/index.tsx
  packages/client/src/pages/DevPage/index.tsx
  packages/client/src/pages/Profile/index.scss
  packages/client/src/pages/Profile/index.tsx
  packages/client/src/ui/ButtonImg/img/logout.svg
  packages/client/src/ui/ButtonImg/index.scss
  packages/client/src/ui/ButtonImg/index.tsx
  yarn.lock
Due: lint, stylelint
