Repository Tarakann119/noLabel-game: changes, and which lefthook commands are due for each by the changed paths.
All: lint, stylelint

lint:
  run: yarn eslint {staged_files} && git add {staged_files}

stylelint:
  run: yarn stylelint {staged_files} && git add {staged_files}

добавлены компоненты авторизации
  packages/client/index.html
  packages/client/src/App.tsx
  packages/client/src/Layout.tsx
  packages/client/typings/app.typings.ts
  packages/client/utils/hooks/reduxHooks.ts
  packages/client/utils/hooks/userAuth.ts
Due: lint

Удалён лишний файл конфига линтера, исправлена опечатка в README.md
  .stylelintrc.js
  README.md
Due: none

Добавлен popUp для ошибки валидации
  packages/client/src/components/Button/index.scss
  packages/client/src/components/Leaderboard/LeaderboardView/index.scss
  packages/client/src/components/Leaderboard/index.tsx
  packages/client/src/components/ValidateErrorMessage/index.scss
  packages/client/src/components/ValidateErrorMessage/index.tsx
  packages/client/src/pages/DevPage/index.tsx
  packages/client/src/pages/LoginPage/index.tsx
Due: lint, stylelint

fix: Исправлена опечатка в скрипте
  package.json
Due: none

fix: LoginPage - изменён алгоритм входа.
  packages/client/src/Layout.tsx
  packages/client/src/assets/avatar.png
  packages/client/src/assets/icons/send-message.png
  packages/client/src/assets/img/background/helmet.png
  packages/client/src/assets/profile-image.png
  packages/client/src/components/Avatar/images/avatar-dafault.png
  packages/client/src/pages/LoginPage/index.tsx
Due: lint

fix: LoginPage - изменён алгоритм входа.
  packages/client/src/pages/LoginPage/index.tsx
Due: lint

удалил линтер по комментарию
  packages/client/package.json
Due: none

добавлен fullscreen web api, исправлен баг при котором центрирование полотна мешало наведению на сводобный участок при строительстве башни, добавлена кнопка в header
  packages/client/src/components/Canvas/index.tsx
  packages/client/src/components/Header/index.scss
  packages/client/src/components/Header/index.tsx
  packages/client/src/game/Game.ts
  packages/client/src/index.css
  packages/client/src/pages/LoginPage/index.tsx
  yarn.lock
Due: lint, stylelint

fixes accrding to review
  .gitignore
  packages/client/src/Layout.tsx
  packages/client/src/components/Autification/slice.ts
  packages/client/src/components/Header/index.tsx
  packages/client/src/components/InputWrapper/index.scss
  packages/client/src/components/Leaderboard/index.tsx
  packages/client/src/components/Theme/index.tsx
  packages/client/src/components/UserCard/index.tsx
  packages/client/src/pages/Forum/index.tsx
  packages/client/src/pages/LoginPage/index.tsx
  packages/client/src/pages/Profile/ChangeAvatar.tsx
  packages/client/src/pages/Profile/ChangePassword.tsx
  packages/client/src/pages/Profile/ChangeProfile.tsx
  packages/client/src/pages/RegisterPage/index.tsx
  packages/client/src/ui/HeaderH1/index.tsx
  packages/client/src/ui/Loader/index.tsx
  packages/client/typings/app.typings.ts
  packages/client/utils/ShowError/index.tsx
  packages/client/utils/generateId/index.tsx
Due: lint, stylelint

delete extra space
  packages/client/src/components/Theme/index.tsx
Due: lint

delete commented piece of code
  packages/client/src/pages/LoginPage/index.tsx
Due: lint

delete commented
  lefthook.yml
  packages/client/mok/rating.ts
  packages/client/src/assets/fonts/fonts.css
  packages/client/src/components/Autification/slice.ts
  packages/client/src/components/Input/index.tsx
  packages/client/src/components/Leaderboard/LeaderboardView/index.css
  packages/client/src/components/Leaderboard/LeaderboardView/index.tsx
  packages/client/src/components/Leaderboard/index.css
  packages/client/src/components/Leaderboard/leaderboardList.ts
  packages/client/src/components/Leaderboard/leaderboardListMok.ts
  packages/client/src/components/Link/index.tsx
  packages/client/src/components/MainLayout/index.css
  packages/client/src/components/MainLayout/index.tsx
  packages/client/src/pages/RatingPage/index.tsx
  yarn-error.log
  yarn.lock
Due: lint, stylelint

detele commented add some styles
  packages/client/src/assets/fonts/fonts.css
  packages/client/src/components/Leaderboard/LeaderboardView/index.css
  packages/client/src/components/Leaderboard/index.css
  packages/client/src/components/MainLayout/index.css
  packages/client/src/pages/RegisterPage/index.tsx
Due: lint, stylelint

fix
  packages/client/src/components/Theme/index.tsx
Due: lint

fix typisation
  packages/client/src/components/ValidateErrorMessage/index.tsx
  packages/client/src/pages/LoginPage/index.tsx
  packages/client/src/pages/Profile/ChangePassword.tsx
  packages/client/src/pages/Profile/ChangeProfile.tsx
  packages/client/src/pages/RegisterPage/index.tsx
Due: lint

delete commited
  packages/client/src/components/ValidateErrorMessage/index.tsx
Due: lint

rename function updatAvatar
  packages/client/src/pages/Profile/ChangeAvatar.tsx
Due: lint

transfer requests to thunk
  packages/client/src/pages/LoginPage/index.tsx
  packages/client/src/pages/Profile/ChangePassword.tsx
  packages/client/src/pages/Profile/ChangeProfile.tsx
  packages/client/typings/app.typings.ts
Due: lint

rebuild all forms to new inputs
  packages/client/src/pages/LoginPage/index.tsx
  packages/client/src/pages/Profile/ChangePassword.tsx
  packages/client/src/pages/Profile/ChangeProfile.tsx
  packages/client/src/pages/RegisterPage/index.tsx
Due: lint

new input
  packages/client/src/components/InputValidate/index.tsx
Due: lint

styles for new input
  packages/client/src/components/InputValidate/index.scss
Due: stylelint

add change avatart to ерргтл
  packages/client/src/components/Autification/slice.ts
  packages/client/src/pages/Profile/ChangeAvatar.tsx
Due: lint

fixes and redux reselect
  packages/client/src/Layout.tsx
  packages/client/src/Store/selectors.ts
  packages/client/src/components/Autification/slice.ts
  packages/client/src/components/Header/index.tsx
  packages/client/src/components/Leaderboard/LeaderboardView/index.css
  packages/client/src/components/Leaderboard/index.css
  packages/client/src/components/MainLayout/index.css
  packages/client/src/components/MainLayout/index.tsx
  packages/client/src/components/Theme/index.tsx
  packages/client/src/pages/LoginPage/index.tsx
  packages/client/src/pages/MainMenu/index.tsx
  packages/client/src/pages/Profile/ChangeAvatar.tsx
  packages/client/src/pages/Profile/ChangePassword.tsx
  packages/client/src/pages/Profile/ChangeProfile.tsx
  packages/client/src/pages/Profile/index.tsx
  packages/client/src/pages/RegisterPage/index.tsx
  packages/client/src/pages/StartScreen/index.tsx
  packages/client/src/ui/HeaderH1/index.tsx
  packages/client/typings/app.typings.ts
  packages/client/utils/ShowError/index.tsx
  yarn-error.log
Due: lint, stylelint

fix
  .gitignore
  .stylelintrc.js
  package.json
Due: none

update dependecies
  yarn.lock
Due: none

revert: Возвращен хук, установлен пакет
  lefthook.yml
  packages/client/package.json
Due: none

fix: Исправлен путь к файлам, обновлён паттерн классов
  packages/client/.stylelintrc.cjs
  packages/client/package.json
Due: none

fix: Исправлена опечатка
  packages/client/.stylelintrc.cjs
Due: none

Delete .stylelintrc.js
  .stylelintrc.js
Due: none

Delete avatar-default.png
  packages/client/src/assets/img/avatar-default.png
Due: none

Delete _varThemeDefault.scss
  packages/client/src/assets/styles/_varThemeDefault.scss
Due: stylelint

Delete index.scss
  packages/client/src/components/Footer/index.scss
Due: stylelint

Delete index.scss
  packages/client/src/components/Input/index.scss
Due: stylelint

presist+fix in login
  packages/client/package.json
  packages/client/src/Layout.tsx
  packages/client/src/Store/store.ts
  packages/client/src/components/Autification/slice.ts
  packages/client/src/main.tsx
Due: lint

великолепно добавлена возможность выбора башен
  packages/client/public/game/assets/interface-game/table_down.png
  packages/client/public/game/assets/towers/archer/sprite.png
  packages/client/public/game/assets/towers/archer/sprite2.png
  packages/client/public/game/assets/towers/archer/sprite22.png
  packages/client/public/game/assets/towers/archer/sprite222.png
  packages/client/public/game/assets/towers/archer/tower.png
  packages/client/public/game/assets/towers/stone/tower.png
  packages/client/public/game/maps/map1/background.png
  packages/client/public/game/maps/map1/background2.png
  packages/client/public/game/maps/map1/settings.ts
  packages/client/src/game/Bulding.ts
  packages/client/src/game/Game.ts
  packages/client/src/game/PlacementTile.ts
  packages/client/src/game/Sprite.ts
  packages/client/src/game/settings/buldings.ts
  packages/client/typings/app.typings.ts
Due: lint

Path conditions:
  lint: any of: *.{ts,tsx}
  stylelint: any of: *.{css,scss}
